# Configurações Gerais
PROJECT_NAME=meu-erp-confeccao
ENVIRONMENT=development

# Backend Database
DATABASE_USER=user
DATABASE_PASSWORD=password
DATABASE_NAME=erpdb
PORT=8080

# Frontend
VITE_API_URL=http://localhost:8080
