# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.pytest_cache/
.coverage

# Node / JS
node_modules/
dist/
build/
.npm

# Envs
.env
.env.local

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
